parameters:
	level: 8
	paths:
		- src
	ignoreErrors:
		-
			identifier: missingType.iterableValue

		-
			identifier: missingType.generics

		-
			message: "#^Parameter \\#1 \\$field of method Cake\\\\Datasource\\\\EntityInterface\\:\\:get\\(\\) expects string, array\\<int, string\\>\\|string given\\.$#"
			count: 1
			path: src/File/Path/DefaultProcessor.php

		-
			message: "#^Constant ROOT not found\\.$#"
			count: 1
			path: src/File/Writer/DefaultWriter.php

		-
			message: "#^Cannot use array destructuring on array\\<int\\|string, int\\|string\\>\\|false\\.$#"
			count: 4
			path: src/Validation/DefaultValidation.php

		-
			message: "#^Cannot use array destructuring on array\\<int\\|string, int\\|string\\>\\|false\\.$#"
			count: 4
			path: src/Validation/ImageValidation.php
