<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd">
    <coverage/>
    <php>
        <ini name="memory_limit" value="-1"/>
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>
    </php>
    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="cakephp-upload">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
    </extensions>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
</phpunit>
