<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
>
    <testsuites>
        <testsuite name="search">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <extension class="Cake\TestSuite\Fixture\PHPUnitExtension"/>
    </extensions>

    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>

    <php>
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>
    </php>
</phpunit>
