alabaster==0.7.12
Babel==2.9.1
certifi==2023.7.22
chardet==3.0.4
docutils==0.14
idna==2.7
imagesize==0.7.1
Jinja2==2.11.3
MarkupSafe==0.23
Pygments==2.15.0
pytz==2018.7
requests==2.31.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.5.1
sphinx-rtd-theme==0.1.9
sphinxcontrib-phpdomain==0.2.1
urllib3==1.26.17
cakephp-theme
